@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Chewy&display=swap');

.navbar-brand, .navbar-nav .nav-link {
  font-family: 'Chewy', cursive;
  font-size: 24px;
}

.navbar-nav 
.nav-link
 { color: white; 
  transition: transform 0.3s, 
  background-color 0.3s, 
  color 0.3s; } 
 
 .navbar-nav 
 .nav-link:hover 
 { background-color:
   darkorange; color: 
   black; transform: 
   translateX(10px); }

   .header 
   { text-align: center; 
    margin-top: 20px; } 

   .app-name {
    font-family: "Berkshire Swash", serif;
     font-size: 100px; 
     color: #110f47;
     margin-left: 180px; 
     margin-right: 180px; 
    } 
     
     .images 
     { display: flex; 
      justify-content: center; 
      align-items:center; 
      margin-top: 20px; 
      } 
      .images img 
      { width: 300px;
        height: 300px; 
        margin: 0 10px; }